
$pureWhite: hsl(0, 0%, 100%);
$lightGray: hsl(217, 12%, 63%); 
$darkBlue: hsl(213, 19%, 18%);
$darkerBlue: hsl(216, 12%, 8%);
$accentColor: hsl(25, 97%, 53%);
$blueGradient: linear-gradient(45deg, hsl(212, 21%, 12%) 10%,hsl(213, 19%, 18%) 70%)