
@use './_colors' as *;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: $darkerBlue;
}

.review {
    height: 100vh;
    padding: 6em 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box, &__summary {
        width: min(450px, 100%);
        margin: 0 auto;
        border-radius: 30px;
        background: $blueGradient;
        box-shadow: 5px 5px 10px #2e2e2e2e;
    }
    &__box {
        position: relative;
        padding: 2em;
    }
    &__summary {
        padding: 3em;
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

            &.active {
                display: flex;
            }

        &-img {
            width: min(200px, 100%);
        }
        &-box {
            display: block;
            margin: 1.5em 0;
            padding: .5em 1em;
            color: $accentColor;
            background-color: hsl(212, 18%, 21%);
            border-radius: 30px;
            font-weight: 400;
            font-size: 1.2rem;
        } 
        &-title {
            color: $pureWhite;
            font-size: 2.2rem;
            margin-block-end: .5em;
            font-weight: 500;
        }
        &-text {
            text-align: center;
            color: $lightGray;
            line-height: 20px;
            font-size: 1.4rem;
        }
    }




    &__star {
        padding: 1em;
        width: 32px;
        background-color: $darkBlue;
        border-radius: 50%;
    }
    &__title {
        color: $pureWhite;
        font-size: 2rem;
        margin: .8em 0;
    }
    &__text {
        margin-block-end: 2em;
        color: $lightGray;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 25px;
    }
    &__input[type='radio'] {
        display: none;
    }
    &__input[type='radio']:checked + label {
        background-color: $pureWhite;
        color: $darkerBlue;
    }
    &__input-box {
        width: min(350px, 100%);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: .5em;
    }
    label {
        display: grid;
        place-items: center;
        width: 40px;
        aspect-ratio: 1;
        height: 40px;
        outline: none;
        color: $lightGray;
        background-color: hsl(212, 18%, 21%);
        border-radius: 50%;
        font-size: 1.2rem;
        font-weight: 700;
        cursor: pointer;
        transition: background-color .3s, color .3s;

            &:hover, &:focus-visible {
                background-color: $accentColor;
                color: $darkerBlue;
            }
    }
    &__btn {
        font-family: "Overpass", sans-serif;
        display: block;
        width: 100%;
        padding: 1em 2em;
        margin-block-start: 2em;
        border-radius: 30px;
        border: none;
        outline: none;
        font-weight: 700;
        background-color: $accentColor;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: background-color .3s;

            &:hover, &:focus-visible {
                background-color: $pureWhite;
            }
    }
}



@media (576px <= width){
    .review {
        &__box, &__summary {
            padding: 3em 3em 1em;
        }
        &__star {
            padding: 1.2em;
            width: 40px;
        }
        &__title {
            font-size: 2.8rem;
        }
        &__text {
            font-size: 1.7rem;
        }
        &__input-box {
            gap: 0;   
            justify-content: space-between;
        }
        label {
            width: 45px;
            height: 45px;
            font-size: 1.4em;
        }
        &__btn {
            width: 95%;
            margin: 2em auto;
            font-size: 1.5rem;
        }

        &__summary {
            &-box {
                font-size: 1.4rem;
            }
            &-title {
                font-size: 2.7rem;
            }
            &-text {
                font-size: 1.6rem;
            }
        }
    }
}

@media(768px <= width) {
    .review {
        &__title {
            font-size: 3rem;
        }
        &__text {
            font-size: 1.8rem;
        }
        label {
            width: 50px;
            height: 50px;
        }
        &__star {
            width: 45px;
        }


        &__summary {
            padding: 3em;

            &-box {
                font-size: 1.7rem;
            }
            &-title {
                font-size: 3rem;
            }
            &-text {
                font-size: 1.7rem;
            }
        }
    }
}